*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    background-color: #848484;
}

header{
    background-color: blue;
    height: 50px;
} 

nav{
    display: flex;
    justify-content: center;
    position: relative;
}

li{
    display: flex;
    justify-content: center;
    
}

.hidden{
    transform: scaleY(0); 
}

h3:hover + li > .hidden,
li:hover > .hidden{
    transform: scaleY(1);
    transition: 0.5s;
    transform-origin: top;
}

a{
    text-decoration: none;
    color: white;    
    width: 100px;
    background-color: #848484;
    position: absolute;

}

h1{
    font-size: 200%;
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}

.upper-slider{
    width: 100%;
    background-color: black;
    position: relative;
} 

.upper-slider > .slider-img{
    display: inline-flex;
    
}

.slide-button-right{
    height: 20px;
    width: 20px;
    position: absolute;

}
.slide-button-right > img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.slide-button-left{
    position: absolute;
    
    height: 20px;
    width: 20px; 
    justify-content: right;  
}

.slider-img{
    background: linear-gradient(transparant 80%, black);
    transition: 0.5s transform;
    margin: 0 auto;
    width: 30vw;
    height: 300px;
}  

.slider-img:hover{
    transform: scale(1.10);
}

.content-section{
    width: 60vw;
    background: #848484;
    margin: 0 auto;
}

.activiteiten,.geschiedenis,.game-article{
    background: white;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 2%;
    display: flex;
    border-color: black;
    border: 3px solid;
}
.game-article{
    position: relative;
    
}
canvas{
    margin: 20px;
    padding: 20px;
    bottom: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
}

.activiteiten > p,
.geschiedenis  > p{
    text-align: left;
}
.game-article > section > h1{
    display: flex;
    justify-content: center;
}

.activiteiten > img,
.geschiedenis > img{
    width: 16vw;
    border-radius: 10%;
    margin-right: 20px;
}

.review-section{
    background-color: #d4d4d4;
    width: 100%;
}
.review-section > .review{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.review-section > .review > .review-jan,
.review-section > .review > .review-marinus{
    width: 400px;
    height: 300px;
    padding: 10px;
    background: white;
    border-radius: 20px;
    margin-bottom: 50px;  
    border: 3px solid;
}
.review > p{
    padding: 20px;
}
footer{
    background-color: blue;
    padding: 20px;
}

footer > p{
    font-size: 150%;
    
}
.span1{
    margin-right: 1500px;
}

.span2{
    margin-right: 925px;
}

.span3{
    margin-right: 1105px;
}
