*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    background-color: #848484;
}

header{
    background-color: blue;
}

header{
    height: 50px;
}

h1{
    font-size: 200%;
    display: flex;
    justify-content: center;
}

.upper-slider{
    width: 100%;
    background-color: black;
}

.slider-img{
    align-items: center;
    display: block;
    transition: 0.5s transform;
    margin: 0 auto;
}

.slider-img:hover{
    transform: scale(1.10);
}

.content-section{
    width: 60vw;
    background: #848484;
    margin: 0 auto;
}

.activiteiten{
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

.geschiedenis{
    background: white;
}
