*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
}
article{
    margin: 0 auto;
    width: 70vw;
}

.upper-slider{
    width: 100%;
    background-color: black;
}

.slider-img{
    align-items: center;
    display: block;
    transition: 0.5s transform;
    margin: 0 auto;
}
.slider-img:hover{
    transform: scale(1.10);
}
